@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-Bold.eot');
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
    url('/static/fonts/TTNorms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-Bold.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-Bold.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-ThinItalic.eot');
  src: local('TT Norms Thin Italic'), local('/static/fonts/TTNorms/TTNorms-ThinItalic'),
    url('/static/fonts/TTNorms/TTNorms-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-ThinItalic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-ThinItalic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-Thin.eot');
  src: local('TT Norms Thin'), local('/static/fonts/TTNorms/TTNorms-Thin'),
    url('/static/fonts/TTNorms/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-Thin.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-Thin.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-LightItalic.eot');
  src: local('TT Norms Light Italic'), local('/static/fonts/TTNorms/TTNorms-LightItalic'),
    url('/static/fonts/TTNorms/TTNorms-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-LightItalic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-LightItalic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-ExtraBoldItalic.eot');
  src: local('TT Norms ExtraBold Italic'), local('/static/fonts/TTNorms/TTNorms-ExtraBoldItalic'),
    url('/static/fonts/TTNorms/TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-ExtraBoldItalic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-ExtraBoldItalic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-Italic.eot');
  src: local('TT Norms Italic'), local('/static/fonts/TTNorms/TTNorms-Italic'),
    url('/static/fonts/TTNorms/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-Italic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-Italic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-ExtraLight.eot');
  src: local('TT Norms ExtraLight'), local('/static/fonts/TTNorms/TTNorms-ExtraLight'),
    url('/static/fonts/TTNorms/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-ExtraLight.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-ExtraLight.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-HeavyItalic.eot');
  src: local('TT Norms Heavy Italic'), local('/static/fonts/TTNorms/TTNorms-HeavyItalic'),
    url('/static/fonts/TTNorms/TTNorms-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-HeavyItalic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-HeavyItalic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-MediumItalic.eot');
  src: local('TT Norms Medium Italic'), local('/static/fonts/TTNorms/TTNorms-MediumItalic'),
    url('/static/fonts/TTNorms/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-MediumItalic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-MediumItalic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-BoldItalic.eot');
  src: local('TT Norms Bold Italic'), local('/static/fonts/TTNorms/TTNorms-BoldItalic'),
    url('/static/fonts/TTNorms/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-BoldItalic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-BoldItalic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-Heavy.eot');
  src: local('TT Norms Heavy'), local('/static/fonts/TTNorms/TTNorms-Heavy'),
    url('/static/fonts/TTNorms/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-Heavy.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-Heavy.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-Light.eot');
  src: local('TT Norms Light'), local('/static/fonts/TTNorms/TTNorms-Light'),
    url('/static/fonts/TTNorms/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-Light.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-Light.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-Medium.eot');
  src: local('TT Norms Medium'), local('/static/fonts/TTNorms/TTNorms-Medium'),
    url('/static/fonts/TTNorms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-Medium.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-Medium.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-ExtraBold.eot');
  src: local('TT Norms ExtraBold'), local('/static/fonts/TTNorms/TTNorms-ExtraBold'),
    url('/static/fonts/TTNorms/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-ExtraBold.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-ExtraBold.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-ExtraLightItalic.eot');
  src: local('TT Norms ExtraLight Italic'), local('/static/fonts/TTNorms/TTNorms-ExtraLightItalic'),
    url('/static/fonts/TTNorms/TTNorms-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-ExtraLightItalic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-ExtraLightItalic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('/static/fonts/TTNorms/TTNorms-Regular'),
    url('/static/fonts/TTNorms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-Regular.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-Regular.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-BlackItalic.eot');
  src: local('TT Norms Black Italic'), local('/static/fonts/TTNorms/TTNorms-BlackItalic'),
    url('/static/fonts/TTNorms/TTNorms-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-BlackItalic.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-BlackItalic.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/static/fonts/TTNorms/TTNorms-Black.eot');
  src: local('TT Norms Black'), local('/static/fonts/TTNorms/TTNorms-Black'),
    url('/static/fonts/TTNorms/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TTNorms/TTNorms-Black.woff2') format('woff2'),
    url('/static/fonts/TTNorms/TTNorms-Black.woff') format('woff'),
    url('/static/fonts/TTNorms/TTNorms-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

