yellow = #FEE34C
black = #000000
red = #FF2223
blue = #018FF1
orange = #E75025
beige = #FFFAEA
white = #FFFFFF
gray = #D9D9D9
fontRegular = "TT Norms", sans-serif;

:root {
  --yellow: yellow
  --black: black
  --black-o5: rgba(black, 0.5)
  --gray-o7: rgba(gray, 0.7)
  --red: red
  --blue: blue
  --orange: orange
  --beige: beige
  --beige-o05: rgba(254, 227, 76, 0.05);
  --white: #FFFFFF
  --gray: gray
  --gray-o5: rgba(gray, 0.5)

  --font-regular: fontRegular
  --max-width: 1184px
  --transition: .2s
}
  //1303
